* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

body {
    background-color: rgb(133, 183, 184);
}

.logo img {
    align-items: center;
    padding-top: 50px;
    padding-left: 480px;
}

.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: rgb(122, 197, 224);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.wrapper h1 {
    font-size: 3rem;
    color: #fff;
    padding-bottom: 1rem;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #ffffff;
}

.wrapper button {
    font-size: 1.2rem;
    margin-top: 1.2rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 80%;
    color: #fff;
    cursor: pointer;
    background-color: rgb(17, 107, 143);
}

button:hover {
    background: rgba(6, 56, 76, 0.877);
}

input:focus {
    border: 1px solid #fff;
}

.terms {
    margin-top: 0.2rem;
}

.terms input {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    cursor: pointer;
}

.terms label {
    font-size: 0.7rem;
}

.temrs a {
    color: rgb(17, 107, 143);
    text-decoration: none;
}

.member {
    font-size: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: -0.8rem;
    color: #ffffff;
}

.member a {
    color: rgb(0, 77, 107);
    text-decoration: none;
}